/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {

    header {
        padding: 80px 15px 40px 15px;
    }

    .logo {
        width: 100px;
        position: static;
        display: block;
        margin: 0 auto 15px auto;
    }

    #menuContainer {
        position: static;
        margin-bottom: 15px;
    }

    #btnMenu {
        width: 80%;
        max-width: 250px;
    }

    #menu {
        right: 50%;
        transform: translateX(50%);
    }

    main {
        margin: 20px auto;
        padding: 15px;
    }

    section {
        padding: 20px;
    }

    ul {
        text-align: center;
    }
}
