/* ================= RESPONSIVE SIMPLE ================= */
@media (max-width: 768px) {

    header {
        padding-top: 120px;
    }

    .logo {
        width: 110px;
        top: 10px;
        left: 10px;
    }

    #menuContainer {
        top: 20px;
        right: 10px;
    }

    main {
        margin: 20px auto;
        padding: 10px;
    }

    section {
        margin-bottom: 20px;
    }

    header h1 {
        font-size: 1.6rem;
    }

    header p {
        font-size: 1rem;
    }
}
